page-details-r {

    #but1{
        padding: 0px 0 0 45%;
    }

    #but2{
        padding: 0px 22.5%;
        }

    #row{
        border-top: 0.3px solid rgba(128, 128, 128, 0.781);
    }


    ion-icon{
        font-size: 25px;
    }



}
